# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv
venv/
ENV/
env/
/backend/clinical_trial.db
/backend/clinical_trial.db-journal

# Node
node_modules/
/frontend/dist/
/frontend/dist-ssr/
/frontend/coverage/
/frontend/.nyc_output/
.npm
.eslintcache
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db
db.sqlite3
